* { 
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.background {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('../Images/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  width: 70%;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobileIntro {
    width: 70%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
  color: rgb(31, 58, 63);
}

.seperator {
  color: rgb(31, 58, 63);
}

.projectsBtn {
  cursor: pointer;
  margin-top: .2em;
  color: #fff;
  background-color: transparent;
  padding: 10px 10px;
  border: 2px solid rgb(31, 58, 63);
  border-radius: 10px;
  font-size: 20px;
}

.projectsBtn:hover {
  background-color: rgb(31, 58, 63);
  color: rgb(15, 158, 206);
}

.footer {
  background-color: transparent;
  position: fixed;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

.icon {
  margin-top: 1em;
  color: white;
}

@media screen and (max-width: 1920px) {
  .mobileIntro {
    display: none;
  }

  .intro {
    display: initial;
  }
}

@media screen and (max-width: 390px) {
  .background {
    background-position: center;
  }
  
  .intro {
    display: none;
  }

  .mobileIntro {
    display: initial;
    width: 100%;
  }

  .name {
    color: rgb(15, 158, 206);
    font-size: 30px;
  }

  .mobileIntro h1 {
    font-size: 20px;
  }

  .seperator {
    color: rgb(31, 58, 63);
  }

  .projectsBtn {
    margin-top: 1em;
    background-color: rgb(31, 58, 63);
    color: rgb(15, 158, 206);
  }
}